legacy/
steppe-game/
realt/node_modules
realt/.env
realt/projects.json
livetranslate/node_modules
livetranslate/.env
livetranslate/projects.json
livetranslate/server.crt
livetranslate/server.js
livetranslate/server.key

livetranslate/translator-data/*
livetranslate/speaker-data/*
livetranslate/normalizer-data/*
livetranslate/temp-whisperx/*
livetranslate/replicate-translation-data/*
